<h2>Youtube Streamers Analysis</h2>

In [1]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\DELL\Desktop\Main\4\Projects\4a\Youtube Streamers\youtubers_df.csv")

<h3>Inspecting the Data Structure</h3>

In [10]:
print(df.head()) #Displays first five columns of the dataset

print(df.info()) #Provides the basic Information about the dataset provided

   Rank       Username           Categories   Suscribers         Country  \
0     1        tseries       Música y baile  249500000.0           India
1     2        MrBeast   Videojuegos, Humor  183500000.0  Estados Unidos
2     3      CoComelon            Educación  165500000.0         Unknown
3     4       SETIndia                  NaN  162600000.0           India
4     5  KidsDianaShow  Animación, Juguetes  113500000.0         Unknown

        Visits      Likes  Comments  \
0      86200.0     2700.0      78.0
1  117400000.0  5300000.0   18500.0
2    7000000.0    24700.0       0.0
3      15600.0      166.0       9.0
4    3900000.0    12400.0       0.0

                                               Links
0  http://youtube.com/channel/UCq-Fj5jknLsUf-MWSy...
1  http://youtube.com/channel/UCX6OQ3DkcsbYNE6H8u...
2  http://youtube.com/channel/UCbCmjCuTUZos6Inko4...
3  http://youtube.com/channel/UCpEhnqL0y41EpW2TvW...
4  http://youtube.com/channel/UCk8GzjMOrta8yxDcKf...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        1000 non-null   int64
 1   Username    1000 non-null   object
 2   Categories  694 non-null    object
 3   Suscribers  1000 non-null   float64
 4   Country     1000 non-null   object
 5   Visits      1000 non-null   float64
 6   Likes       1000 non-null   float64
 7   Comments    1000 non-null   float64
 8   Links       1000 non-null   object
dtypes: float64(4), int64(1), object(4)
memory usage: 70.4+ KB
None

In [12]:
print(df.shape) #Provides the row and columns of the dataset provided

print(df.columns) #Provides the items or variable present in each of the columns

(1000, 9)
Index(['Rank', 'Username', 'Categories', 'Suscribers', 'Country', 'Visits',
       'Likes', 'Comments', 'Links'],
      dtype='object')

<h3> Performing Exploratory Data Analysis</h3>

In [ ]:
print(df.describe)

              Rank    Suscribers        Visits         Likes       Comments
count  1000.000000  1.000000e+03  1.000000e+03  1.000000e+03    1000.000000
mean    500.500000  2.189440e+07  1.209446e+06  5.363259e+04    1288.768000
std     288.819436  1.682775e+07  5.229942e+06  2.580457e+05    6778.188308
min       1.000000  1.170000e+07  0.000000e+00  0.000000e+00       0.000000
25%     250.750000  1.380000e+07  3.197500e+04  4.717500e+02       2.000000
50%     500.500000  1.675000e+07  1.744500e+05  3.500000e+03      67.000000
75%     750.250000  2.370000e+07  8.654750e+05  2.865000e+04     472.000000
max    1000.000000  2.495000e+08  1.174000e+08  5.300000e+06  154000.000000

In [28]:
print(df.isnull().sum()) #Checks for missing values in each of the columns of the dataset.
print(df.duplicated()) #Checks if there is any duplicate value present in the dataset.
print(df.dtypes) # Checks for the data types assigned to each of the column variables

Rank            0
Username        0
Categories    306
Suscribers      0
Country         0
Visits          0
Likes           0
Comments        0
Links           0
dtype: int64
0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool
Rank            int64
Username       object
Categories     object
Suscribers    float64
Country        object
Visits        float64
Likes         float64
Comments      float64
Links          object
dtype: object

In [48]:
#To remove or handle the missing data 

most_frequent = df['Categories'].mode()[0]
print(most_frequent)

df['Categories'] = df['Categories'].fillna(most_frequent) # replacing the empty columns with the most frequent column value
print(df.isnull().values.any()) #Checking if there is still nay missing column present 

#Changing the column name spelling 
print(df.columns)
df.rename(columns={'Suscribers': 'Subscribers'}, inplace= True)
df.columns

Música y baile
False
Index(['Rank', 'Username', 'Categories', 'Subscribers', 'Country', 'Visits',
       'Likes', 'Comments', 'Links'],
      dtype='object')

Index(['Rank', 'Username', 'Categories', 'Subscribers', 'Country', 'Visits',
       'Likes', 'Comments', 'Links'],
      dtype='object')